<%= turbo_frame_tag dom_id(line_item) do %>
  <div class="grid gap-1 grid-cols-5 border-b border-gray-200 text-sm py-1">
    <div>
      <%= line_item.label %>
    </div>

    <div>
      <%= l(line_item.date, format: :month_day_year) %>
    </div>

    <div>
      <%= number_to_currency(line_item.amount) %>
    </div>

    <div class="flex gap-4">
      <%= line_item.state %>
      <%= render 'line_items/line_item/toggle_state', line_item: line_item %>
    </div>
  </div>
<% end %>